/* ------------------------nav------------------------ */

.nav {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 60px;
}

.nav_wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.nav::before {
  position: fixed;
  left: 0;
  width: 100%;
  height: 60px;
  content: "";
  background: linear-gradient(to bottom, black, transparent);
  pointer-events: none;
}

.nav_logo {
  content: url(./images/netflix_lg.png);
  position: relative;
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(180, 180, 180);
  margin-left: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}

.nav a:hover {
  color: gray;
  transition: 0.3s;
}

.nav a:focus {
  color: rgb(220, 220, 220);
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .nav_logo {
    content: url(./images/netflix_sm.png);
    width: 20px;
  }
}

/* ------------------------home------------------------ */

.home {
  height: 100vh;
}

.home h1 {
  padding-left: 20px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  font-size: 25px;
  width: 90vw;
  display: flex;
  align-items: center;
}

.home h2 {
  width: 60vw;
  display: flex;
}

@media screen and (max-width: 768px) {
  .home h1 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

/* ------------------------loadingSpinner------------------------ */

.loadingSpinner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
}

.loadingSpinner_scrolling {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hasNoMore {
  width: 100%;
  line-height: 70px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  background-color: #252525;
  animation: flickerAnimation 1s;
}

/* ------------------------banner------------------------ */

.banner_container {
  bottom: 0;
  left: 0;
  position: relative;
  z-index: 1;
  right: 0;
  top: 0;
  height: 56.25vw;
  min-height: 500px;
  max-height: 90vh;
  margin-bottom: -15vh;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.banner_container::before {
  position: absolute;
  z-index: 15;
  content: "";
  min-height: 600px;
  height: 71.25vw;
  width: 100%;
  background: linear-gradient(to right, #141414, transparent 600px),
    linear-gradient(to top, #141414, transparent 1000px);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .banner_container::before {
    background: linear-gradient(to right, #141414, transparent 200px),
      linear-gradient(to top, #141414, transparent 400px);
  }
}

.banner_container_text {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 768px) {
  .banner_container_text {
    position: absolute;
    top: -30px;
  }
}

.bannerVideo_container iframe {
  position: absolute;
  z-index: 10;
  height: 150%;
  transform: translateY(-20%);
}

.ytp-cued-thumbnail-overlay {
  width: 100vw !important;
}

.ytp-cued-thumbnail-overlay-image {
  background-size: contain !important;
}

.banner_text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 50vw;
  padding-top: 8.5vw;
  padding-left: 40px;
}

/* ------------------------swiper------------------------ */

.swiper {
  width: 100vw;
  height: 300px;
  aspect-ratio: 3 / 2;
  overflow: visible !important;
  position: relative;
  z-index: 1;
}

.swiper::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent 200px),
    linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent 200px);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .swiper::before {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent 100px),
      linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent 100px);
  }
}

.swiper-slide {
  border-radius: 10px;
  position: relative;
  text-align: left;
  display: -webkit-box;
  background: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(180, 0, 0) !important;
  font-weight: bolder;
  opacity: 0.6;
}

.swiper-button-prev::after {
  content: "<" !important;
}

.swiper-button-next::after {
  content: ">" !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-prev::after,
  .swiper-button-next::after {
    visibility: hidden;
  }
}

/* ------------------------movieCard------------------------ */

.movieCard {
  z-index: 1;
  position: relative;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  border-radius: 10px;
  transform-origin: bottom;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .movieCard {
    width: 100px;
    height: 150px;
  }

  .swiper {
    height: 150px;
  }

  .swiper::before {
    height: 150px;
  }

  .preview_modal {
    min-height: 300px;
    transform: translate(-25%, -50%);
  }
}

.movieCard:hover {
  z-index: 3;
  transform: scale(1.7);
  transition: 0.5s;
  transform-origin: bottom;
  transition-delay: 1s;
}

.movieCard_preview {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
}

/* ------------------------preview_modal------------------------ */

.preview_modal {
  height: 100%;
  min-width: 200px;
  background-color: #141414;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
  animation: fadein 0.5s alternate;
  -moz-animation: fadein 0.5s alternate;
  -webkit-animation: fadein 0.5s alternate;
  -o-animation: fadein 0.5s alternate;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  overflow: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.previewVideo_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.previewVideo_container iframe {
  position: absolute;
  z-index: 10;
  height: 200%;
  transform: translateY(-25%);
}

.previewVideo_container_detailPage {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.ytp-watermark,
.yt-uix-sessionlink,
.ytp-watermark-small {
  display: none !important;
}

.preview_modal_info {
  height: 60%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  word-break: keep-all;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.preview_modal_title {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.preview_modal_release_date {
  color: #777777;
  margin-top: 5px;
  margin-bottom: 5px;
  transform-origin: top left;
  transform: scale(0.7);
}

.preview_modal_score_rate {
  transform: scale(0.8);
  transform-origin: left;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
}

.preview_modal_score {
  padding: 5px 7px;
  text-align: center;
  border-radius: 15%;
  background-color: rgb(231, 150, 0);
  color: rgb(30, 30, 30);
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 10px;
  transform: scale(0.8);
  display: inline-block;
}

.preview_modal_G_rate {
  color: rgb(30, 30, 30);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(0, 146, 0);
  text-align: center;
  margin-left: 5px;
  transform: scale(0.8);
  display: inline-block;
}

.preview_modal_adult_rate {
  color: rgb(30, 30, 30);
  font-weight: bold;
  padding: 3px 10px;
  margin-left: 7px;
  border-radius: 5px;
  background-color: rgb(162, 0, 0);
  text-align: center;
  margin-left: 5px;
}

.preview_modal_genre {
  display: flex;
  flex-basis: 100px;
  width: 140%;
  margin-top: 7px;
  transform-origin: top left;

  font-size: 10px;
  transform: scale(0.7);
}

.preview_modal_genre_tag {
  white-space: nowrap;
  font-weight: bold;
  margin: 10px;
  color: rgb(225, 225, 225);
}

/* ------------------------Movies------------------------ */

.MoviesPage {
  display: flex;
}

.MoviesHandler {
  position: fixed;
  z-index: 15;
  left: 0;
  background-color: #141414;
  width: 400px;
  height: 100%;
  padding-top: 80px;
  transition: 1s;
  float: left;
}

.MoviesHandler_container {
  padding: 0 30px;
  height: 100%;
}

.MoviesHandler_toggleButton {
  left: -100px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 60px;
  height: 100vh;
  background-color: transparent;

  color: white;
  font-weight: bold;
  border: none;
  transition: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MoviesHandler_toggleButton_text {
  font-size: 13px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.MoviesHandler_toggleButton:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.genreButton_container_top {
  width: 100%;
  max-height: 230px;
  overflow: scroll;
}

.genreButton_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .MoviesHandler {
    left: -400px;
    transition: 1s;
    font-size: small;
  }
  .MoviesHandler_container {
    padding-right: 50px;
  }

  .genreButton_container_top {
    max-height: calc(100% - 550px);
  }

  .MoviesHandler_toggleButton {
    left: 0;
    visibility: visible;
    transition: 1s;
  }

  #MoviesHandler_container_checkbox:checked ~ .MoviesHandler {
    left: 50px;
    width: calc(100% - 50px);
    background-color: #141414ee;
  }

  .MovieListWrapper {
    left: 60px !important;
    width: calc(100vw - 50px) !important;
    transition: 1s;
  }
}

.subTitle {
  color: red;
  font-size: 22px;
  margin-right: 10px;
  padding-left: 20px;
  position: relative;
  z-index: 2;
}

.divide_line {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  width: 100%;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .subTitle {
    padding-left: 5px;
  }
}

/* ------------------------MovieList------------------------ */

.MovieListWrapper {
  position: relative;
  left: 430px;
  width: calc(100% - 430px);
  height: 100vh;
  transition: 1s;
}

.MovieListWrapper .container {
  padding-top: 60px;
}

.movieListCard {
  overflow: hidden;
  margin: 20px;
  max-width: 35vw !important;
  aspect-ratio: 4 / 6;
  margin: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.movieListCard:hover {
  transform: scale(1.03);
  transition: 0.3s;
  cursor: pointer;
}

.movieListCard a {
  content: "";
  width: 400px;
  height: auto;
}

/* ------------------------MovieDetail------------------------ */

.MovieDetail_container {
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  max-height: 80vh;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  overflow: hidden;
}

.MovieDetail_container::before {
  position: absolute;
  z-index: 100;
  content: "";
  height: 100vh;
  max-height: 80vh;
  width: 100%;
  /* background: linear-gradient(to right, #141414, transparent),
    linear-gradient(to top, #141414, transparent 100px); */
  background: linear-gradient(45deg, #141414, transparent);
  pointer-events: none;
}

.MovieDetail_container_text {
  position: relative;
  top: 50px;
}

@media screen and (max-width: 768px) {
  .MovieDetail_container {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    max-height: 50vh;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  }

  .MovieDetail_container::before {
    position: absolute;
    z-index: 100;
    content: "";
    height: 100vh;
    max-height: 50vh;
    width: 100%;
    background: linear-gradient(45deg, #141414, transparent);
    /* background: linear-gradient(to right, #141414, transparent),
      linear-gradient(to top, #141414, transparent 70px); */
    pointer-events: none;
  }

  .MovieDetail_container_text {
    position: relative;
    top: 0;
  }
}

.MovieDetail_video iframe {
  position: absolute;
  z-index: 10;
  height: 200%;
  transform: translateY(-25%);
}

.MovieDetail_section {
  position: relative;
  background-color: #141414;
}

.MovieDetail_section h1 {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .MovieDetail_section h1 {
    font-size: 20px;
  }
}

.MovieDetail_section_overview {
  font-size: 15px;
  padding: 0 30px;
  padding-bottom: 20px;
  line-height: 25px;
}

.MovieDetail_info {
  position: absolute;
  z-index: 1000;
  top: 120px;
  width: 90vw;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 40px;
  pointer-events: none;
  text-shadow: #141414 2px 2px 5px;
}

.MovieDetail_info h1 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 0;
  white-space: wrap;
}

.MovieDetail_info h2 {
  font-size: 25px;
  font-weight: normal;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.714);
}

@media screen and (max-width: 768px) {
  .MovieDetail_info {
    top: 15vh;
  }

  .MovieDetail_info h1 {
    font-size: 27px;
  }

  .MovieDetail_info h2 {
    font-size: 18px;
  }

  .movieDetail_genres_item {
    font-size: 15px;
  }
}

.movieDetail_genres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 20px;
}

.movieDetail_genres_item {
  word-break: keep-all;
  white-space: nowrap;
  font-weight: bold;
  padding: 5px 15px;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: red;
}

/* ------------------------MovieReview------------------------ */

.review_card_top {
  width: 100%;
  color: rgb(220, 220, 220) !important;
  text-align: left;
  justify-content: flex-start !important;
  padding: 0 30px !important;
  padding-bottom: 40px !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.review_card_top:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.review_content_section {
  height: 100px;
  overflow: hidden;
}

.review_content_section::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #141414, transparent 50px);
  pointer-events: none;
}

.review_card {
  position: relative;
  width: 100%;
  height: 200px;
}

.review_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.reviewer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  height: 90px;
  width: 100%;
}

.reviewer_info_modal {
  width: 60% !important;
  margin: auto;
}

.reviewer_info_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_content_section_modal {
  height: 280px;
  white-space: wrap;
  overflow: scroll;
}

.review_content_section_modal:first-child {
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .reviewer_info_modal {
    width: 100% !important;
    margin: auto;
  }

  .review_content_section_modal:first-child {
    padding: 0;
  }
}

.review_content {
  box-sizing: content-box;
  width: 100%;
  overflow: hidden;
  text-overflow: clip;
  line-height: 22px;
  color: rgb(210, 210, 210);
}

.review_content_readMore {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 200px;
  padding: 0;
  opacity: 0.5;
}

/* ------------------------MovieFilter------------------------ */

#search_input {
  transition: 0.5s;
  background-color: #4f0000;
  color: #fff;
}

#search_input:focus {
  transition: 0.5s;
  background-color: #820000;
  color: #fff;
}

#search_input-label {
  color: #fff;
}

.searchBar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.searchBar h2 {
  margin-right: 90px;
}

@media screen and (max-width: 768px) {
  .searchBar h2 {
    margin-right: 30px;
    transition: 1s;
  }
}

.searchBar button {
  padding: 10px;
  height: 30px;
}

#sort-label {
  color: white;
}

.MuiSlider-root {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.noResultMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.filter_slider_value input {
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  border: none;
  width: 55px;
}

/* ------------------------Footer------------------------ */

.footer {
  border-top: 1px #2e2e2e solid;
  margin-top: 50px;
}

.footer_structural {
  margin: 0 auto;
  width: 90%;
  padding-top: 40px;
  list-style: none;
  box-sizing: border-box;
  font-size: 13px;
  max-width: 1000px;
}

.footer_link_item {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 16px;
  min-width: 100px;
  padding: 0 12px 0 0;
  vertical-align: top;
  width: 25%;
}

.footer_link {
  color: #737373;
  text-decoration: none;
  cursor: pointer;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_info {
  color: #737373;
  padding-bottom: 40px;
}
