/* ------------------------nav------------------------ */

.nav {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nav::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  content: "";
  background: linear-gradient(to bottom, black, transparent);
}

.nav_logo {
  position: relative;
  width: 100px;
  object-fit: contain;
  z-index: 1;
  margin-right: 20px;
  padding-left: 40px;
  cursor: pointer;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(220, 220, 220);
  margin-left: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}

.nav a:hover {
  color: gray;
  transition: 0.3s;
}

/* ------------------------home------------------------ */

.home h1 {
  padding-left: 40px;
}

/* ------------------------loadingSpinner------------------------ */

.loadingSpinner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
}

/* ------------------------banner------------------------ */

.banner {
  height: 100vh;
  width: 100%;
  /* background-size: cover; */
  background-position: 100%;
}

.banner::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, black, transparent);
}

.banner h1 {
  font-size: 5vw;
  font-weight: bold;
  padding-left: 0;
}

.banner p {
  font-size: 0.9vw;
  line-height: 30px;
}

.banner_text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50vw;
  padding-left: 40px;
}

/* ------------------------swiper------------------------ */

.swiper {
  width: 100%;
  height: 300px;
  overflow: visible !important;
}

/* .swiper::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 300px;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.6));
} */

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: rgb(25, 25, 25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(180, 0, 0) !important;
}

/* ------------------------movieCard------------------------ */

.movieCard {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
}

/* ------------------------previewCard------------------------ */

.previewCard {
  position: relative;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #141414;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
  width: 320px;
  height: 500px;
  /* word-break: break-all; */
}

.previewVideo {
  margin-bottom: 5%;
}

.previewCard_info {
  width: 100%;
  padding: 10px;
  word-break: keep-all;
}

.previewCard_title {
  font-size: 25px;
  font-weight: bold;
}

.previewCard_vote_average {
  width: 100%;
  text-align: right;
}

.previewCard_vote_average span:first-child {
  color: #c2c2c2;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.previewCard_vote_average span:nth-child(2) {
  display: inline-block;
  padding: 4px;
  width: 30px;
  text-align: center;
  margin-top: 20px;
  border-radius: 15%;
  background-color: rgb(231, 150, 0);
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: bold;
}

.previewCard_vote_average span:nth-child(3) {
  color: #c2c2c2;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.G_rated {
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(0, 146, 0);
}

.adult_rated {
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(162, 0, 0);
}

.previewCard_genre {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.previewCard_genre_tag {
  display: inline;
  /* width: 100%; */
  white-space: nowrap;
  line-height: 40px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: red;
}

.previewCard_release_date {
  color: #777777;
  margin-top: 5px;
  font-size: 12px;
}

/* ------------------------MovieList------------------------ */

.MovieList {
  padding-top: 60px;
}
