@font-face {
  font-family: "Netflix-sans";
  src: url("./font/NetflixSans-Regular.otf");
}

* {
  font-family:"Netflix-sans";
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: rgb(220, 220, 220);
  height: 100%;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
